<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tag-heading" data-cy="TagCreateUpdateHeading" jhiTranslate="routeApp.tag.home.createOrEditLabel">Create or edit a Tag</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.tag.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.tag.route" for="field_route">Route</label>
          <select class="form-control" id="field_route" data-cy="route" name="route" formControlName="route">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="routeOption.id === editForm.get('route')!.value?.id ? editForm.get('route')!.value : routeOption"
              *ngFor="let routeOption of routesSharedCollection; trackBy: trackRouteById"
            >
              {{ routeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.tag.mapObject" for="field_mapObject">Map Object</label>
          <select class="form-control" id="field_mapObject" data-cy="mapObject" name="mapObject" formControlName="mapObject">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="mapObjectOption.id === editForm.get('mapObject')!.value?.id ? editForm.get('mapObject')!.value : mapObjectOption"
              *ngFor="let mapObjectOption of mapObjectsSharedCollection; trackBy: trackMapObjectById"
            >
              {{ mapObjectOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
