<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="parentObject">
      <h2 data-cy="parentObjectDetailsHeading"><span jhiTranslate="routeApp.parentObject.detail.title">Parent Object</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ parentObject.id }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.parentObject.title">Title</span></dt>
        <dd>
          <span>{{ parentObject.title }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.parentObject.description">Description</span></dt>
        <dd>
          <span>{{ parentObject.description }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.parentObject.route">Route</span></dt>
        <dd>
          <div *ngIf="parentObject.route">
            <a [routerLink]="['/route', parentObject.route?.id, 'view']">{{ parentObject.route?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/parent-object', parentObject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
