<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-route-heading" data-cy="RouteCreateUpdateHeading" jhiTranslate="routeApp.route.home.createOrEditLabel">
        Create or edit a Route
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.routeType" for="field_routeType">Route Type</label>
          <select class="form-control" name="routeType" formControlName="routeType" id="field_routeType" data-cy="routeType">
            <option [ngValue]="null">{{ 'routeApp.RouteType.null' | translate }}</option>
            <option *ngFor="let routeType of routeTypeValues" [value]="routeType">
              {{ 'routeApp.RouteType.' + routeType | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.photo" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="route image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.length" for="field_length">Length</label>
          <input type="number" class="form-control" name="length" id="field_length" data-cy="length" formControlName="length" />
          <div *ngIf="editForm.get('length')!.invalid && (editForm.get('length')!.dirty || editForm.get('length')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('length')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('length')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.looped" for="field_looped">Looped</label>
          <input type="checkbox" class="form-check" name="looped" id="field_looped" data-cy="looped" formControlName="looped" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.accessible" for="field_accessible">Accessible</label>
          <input
            type="checkbox"
            class="form-check"
            name="accessible"
            id="field_accessible"
            data-cy="accessible"
            formControlName="accessible"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.complexity" for="field_complexity">Complexity</label>
          <select class="form-control" name="complexity" formControlName="complexity" id="field_complexity" data-cy="complexity">
            <option [ngValue]="null">{{ 'routeApp.Complexity.null' | translate }}</option>
            <option *ngFor="let complexity of complexityValues" [value]="complexity">
              {{ 'routeApp.Complexity.' + complexity | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.price" for="field_price">Price</label>
          <input type="text" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.days" for="field_days">Days</label>
          <input type="number" class="form-control" name="days" id="field_days" data-cy="days" formControlName="days" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.hours" for="field_hours">Hours</label>
          <input type="number" class="form-control" name="hours" id="field_hours" data-cy="hours" formControlName="hours" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.coverage" for="field_coverage">Coverage</label>
          <select class="form-control" name="coverage" formControlName="coverage" id="field_coverage" data-cy="coverage">
            <option [ngValue]="null">{{ 'routeApp.RouteCoverage.null' | translate }}</option>
            <option *ngFor="let routeCoverage of routeCoverageValues" [value]="routeCoverage">
              {{ 'routeApp.RouteCoverage.' + routeCoverage | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.create" for="field_create">Create</label>
          <div class="d-flex">
            <input
              id="field_create"
              data-cy="create"
              type="datetime-local"
              class="form-control"
              name="create"
              formControlName="create"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('create')!.invalid && (editForm.get('create')!.dirty || editForm.get('create')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('create')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('create')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.update" for="field_update">Update</label>
          <div class="d-flex">
            <input
              id="field_update"
              data-cy="update"
              type="datetime-local"
              class="form-control"
              name="update"
              formControlName="update"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('update')!.invalid && (editForm.get('update')!.dirty || editForm.get('update')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('update')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('update')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.country" for="field_country">Country</label>
          <select class="form-control" id="field_country" data-cy="country" name="country" formControlName="country">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption"
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.region" for="field_region">Region</label>
          <select class="form-control" id="field_region" data-cy="region" name="region" formControlName="region">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="regionOption.id === editForm.get('region')!.value?.id ? editForm.get('region')!.value : regionOption"
              *ngFor="let regionOption of regionsSharedCollection; trackBy: trackRegionById"
            >
              {{ regionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="routeApp.route.state" for="field_state">State</label>
          <select class="form-control" id="field_state" data-cy="state" name="state" formControlName="state">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="stateOption.id === editForm.get('state')!.value?.id ? editForm.get('state')!.value : stateOption"
              *ngFor="let stateOption of statesSharedCollection; trackBy: trackStateById"
            >
              {{ stateOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
