<div>
  <h2 id="page-heading" data-cy="TagHeading">
    <span jhiTranslate="routeApp.tag.home.title">Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="routeApp.tag.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tag"
        [routerLink]="['/tag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="routeApp.tag.home.createLabel"> Create a new Tag </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tags?.length === 0">
    <span jhiTranslate="routeApp.tag.home.notFound">No tags found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tags && tags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="routeApp.tag.title">Title</span></th>
          <th scope="col"><span jhiTranslate="routeApp.tag.route">Route</span></th>
          <th scope="col"><span jhiTranslate="routeApp.tag.mapObject">Map Object</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of tags; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tag', tag.id, 'view']">{{ tag.id }}</a>
          </td>
          <td>{{ tag.title }}</td>
          <td>
            <div *ngIf="tag.route">
              <a [routerLink]="['/route', tag.route?.id, 'view']">{{ tag.route?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tag.mapObject">
              <a [routerLink]="['/map-object', tag.mapObject?.id, 'view']">{{ tag.mapObject?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tag', tag.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tag', tag.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
