<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mapObjectType">
      <h2 data-cy="mapObjectTypeDetailsHeading"><span jhiTranslate="routeApp.mapObjectType.detail.title">Map Object Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mapObjectType.id }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObjectType.title">Title</span></dt>
        <dd>
          <span>{{ mapObjectType.title }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/map-object-type', mapObjectType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
