<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mapObject">
      <h2 data-cy="mapObjectDetailsHeading"><span jhiTranslate="routeApp.mapObject.detail.title">Map Object</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mapObject.id }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.title">Title</span></dt>
        <dd>
          <span>{{ mapObject.title }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.description">Description</span></dt>
        <dd>
          <span>{{ mapObject.description }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.lat">Lat</span></dt>
        <dd>
          <span>{{ mapObject.lat }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.lang">Lang</span></dt>
        <dd>
          <span>{{ mapObject.lang }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.photo">Photo</span></dt>
        <dd>
          <div *ngIf="mapObject.photo">
            <a (click)="openFile(mapObject.photo, mapObject.photoContentType)">
              <img
                [src]="'data:' + mapObject.photoContentType + ';base64,' + mapObject.photo"
                style="max-width: 100%"
                alt="mapObject image"
              />
            </a>
            {{ mapObject.photoContentType }}, {{ byteSize(mapObject.photo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.constructionsDate">Constructions Date</span></dt>
        <dd>
          <span>{{ mapObject.constructionsDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.paid">Paid</span></dt>
        <dd>
          <span>{{ mapObject.paid }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.cost">Cost</span></dt>
        <dd>
          <span>{{ mapObject.cost }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.altitude">Altitude</span></dt>
        <dd>
          <span>{{ mapObject.altitude }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.create">Create</span></dt>
        <dd>
          <span>{{ mapObject.create | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.update">Update</span></dt>
        <dd>
          <span>{{ mapObject.update | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.country">Country</span></dt>
        <dd>
          <div *ngIf="mapObject.country">
            <a [routerLink]="['/country', mapObject.country?.id, 'view']">{{ mapObject.country?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.region">Region</span></dt>
        <dd>
          <div *ngIf="mapObject.region">
            <a [routerLink]="['/region', mapObject.region?.id, 'view']">{{ mapObject.region?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.state">State</span></dt>
        <dd>
          <div *ngIf="mapObject.state">
            <a [routerLink]="['/state', mapObject.state?.id, 'view']">{{ mapObject.state?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.type">Type</span></dt>
        <dd>
          <div *ngIf="mapObject.type">
            <a [routerLink]="['/map-object-type', mapObject.type?.id, 'view']">{{ mapObject.type?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="routeApp.mapObject.route">Route</span></dt>
        <dd>
          <div *ngIf="mapObject.route">
            <a [routerLink]="['/route', mapObject.route?.id, 'view']">{{ mapObject.route?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/map-object', mapObject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
