<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tag">
      <h2 data-cy="tagDetailsHeading"><span jhiTranslate="routeApp.tag.detail.title">Tag</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tag.id }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.tag.title">Title</span></dt>
        <dd>
          <span>{{ tag.title }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.tag.route">Route</span></dt>
        <dd>
          <div *ngIf="tag.route">
            <a [routerLink]="['/route', tag.route?.id, 'view']">{{ tag.route?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="routeApp.tag.mapObject">Map Object</span></dt>
        <dd>
          <div *ngIf="tag.mapObject">
            <a [routerLink]="['/map-object', tag.mapObject?.id, 'view']">{{ tag.mapObject?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tag', tag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
