<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="point">
      <h2 data-cy="pointDetailsHeading"><span jhiTranslate="routeApp.point.detail.title">Point</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ point.id }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.point.lat">Lat</span></dt>
        <dd>
          <span>{{ point.lat }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.point.lang">Lang</span></dt>
        <dd>
          <span>{{ point.lang }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.point.number">Number</span></dt>
        <dd>
          <span>{{ point.number }}</span>
        </dd>
        <dt><span jhiTranslate="routeApp.point.route">Route</span></dt>
        <dd>
          <div *ngIf="point.route">
            <a [routerLink]="['/route', point.route?.id, 'view']">{{ point.route?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/point', point.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
