<div>
  <h2 id="page-heading" data-cy="MapObjectHeading">
    <span jhiTranslate="routeApp.mapObject.home.title">Map Objects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="routeApp.mapObject.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-map-object"
        [routerLink]="['/map-object/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="routeApp.mapObject.home.createLabel"> Create a new Map Object </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mapObjects?.length === 0">
    <span jhiTranslate="routeApp.mapObject.home.notFound">No mapObjects found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mapObjects && mapObjects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.title">Title</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.description">Description</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.lat">Lat</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.lang">Lang</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.photo">Photo</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.constructionsDate">Constructions Date</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.paid">Paid</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.cost">Cost</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.altitude">Altitude</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.create">Create</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.update">Update</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.country">Country</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.region">Region</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.state">State</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.type">Type</span></th>
          <th scope="col"><span jhiTranslate="routeApp.mapObject.route">Route</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mapObject of mapObjects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/map-object', mapObject.id, 'view']">{{ mapObject.id }}</a>
          </td>
          <td>{{ mapObject.title }}</td>
          <td>{{ mapObject.description }}</td>
          <td>{{ mapObject.lat }}</td>
          <td>{{ mapObject.lang }}</td>
          <td>
            <a *ngIf="mapObject.photo" (click)="openFile(mapObject.photo, mapObject.photoContentType)">
              <img
                [src]="'data:' + mapObject.photoContentType + ';base64,' + mapObject.photo"
                style="max-height: 30px"
                alt="mapObject image"
              />
            </a>
            <span *ngIf="mapObject.photo">{{ mapObject.photoContentType }}, {{ byteSize(mapObject.photo) }}</span>
          </td>
          <td>{{ mapObject.constructionsDate | formatMediumDate }}</td>
          <td>{{ mapObject.paid }}</td>
          <td>{{ mapObject.cost }}</td>
          <td>{{ mapObject.altitude }}</td>
          <td>{{ mapObject.create | formatMediumDatetime }}</td>
          <td>{{ mapObject.update | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="mapObject.country">
              <a [routerLink]="['/country', mapObject.country?.id, 'view']">{{ mapObject.country?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mapObject.region">
              <a [routerLink]="['/region', mapObject.region?.id, 'view']">{{ mapObject.region?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mapObject.state">
              <a [routerLink]="['/state', mapObject.state?.id, 'view']">{{ mapObject.state?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mapObject.type">
              <a [routerLink]="['/map-object-type', mapObject.type?.id, 'view']">{{ mapObject.type?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mapObject.route">
              <a [routerLink]="['/route', mapObject.route?.id, 'view']">{{ mapObject.route?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/map-object', mapObject.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/map-object', mapObject.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mapObject)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
