<div>
  <h2 id="page-heading" data-cy="PointHeading">
    <span jhiTranslate="routeApp.point.home.title">Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="routeApp.point.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-point"
        [routerLink]="['/point/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="routeApp.point.home.createLabel"> Create a new Point </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="points?.length === 0">
    <span jhiTranslate="routeApp.point.home.notFound">No points found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="points && points.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="routeApp.point.lat">Lat</span></th>
          <th scope="col"><span jhiTranslate="routeApp.point.lang">Lang</span></th>
          <th scope="col"><span jhiTranslate="routeApp.point.number">Number</span></th>
          <th scope="col"><span jhiTranslate="routeApp.point.route">Route</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let point of points; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/point', point.id, 'view']">{{ point.id }}</a>
          </td>
          <td>{{ point.lat }}</td>
          <td>{{ point.lang }}</td>
          <td>{{ point.number }}</td>
          <td>
            <div *ngIf="point.route">
              <a [routerLink]="['/route', point.route?.id, 'view']">{{ point.route?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/point', point.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/point', point.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(point)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
